<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" lang="en">
<head>
    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/student.css}">
    </th:block>
    <title>Create course</title>
</head>

<body>
<section layout:fragment="content">
    <div class="main">
        <form th:action="@{/dashboard/courses}" th:object="${course}" method="post" enctype="multipart/form-data">

            <label>Name:</label><br>
            <input type="text" th:field="*{name}" required><br><br>

            <label>Description:</label><br>
            <textarea th:field="*{description}"></textarea><br><br>

            <label>Language:</label><br>
            <select th:field="*{language}" required>
                <option th:each="lang : ${languages}" th:value="${lang}" th:text="${lang}">Language</option>
            </select><br><br>

            <label>Upload File:</label><br>
            <input type="file" name="file"><br><br>

            <button type="submit">Create Course</button>
        </form>
    </div>
</section>
</body>
</html>